#container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 8fr;
}

.graph-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(auto-fill, minmax(32px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
}
